* {
    margin: 0;
    overflow-x: hidden;
}

h1 {
    font-size: 64px;
}

header img {
    width: 64px;
    height: 64px;
    margin: 24px;
    padding-top: 24px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    font-family: 'Pokemon Solid', sans-serif;
    color: white;
    padding-right: 24px;
}

.logo {
    display: flex;
    align-items: center;
    flex-direction: row;
}

input {
    height: 24px;
}

main {
    min-width: 1920px;
}

.name {
    display: flex;
    font-size: 18px;
    justify-content: center;
    width: 200px;
    color: white;
}

.card img {
    border-radius: 16px;
    width: 200px;
    height: 200px;
}

.cards {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    background-color: rgb(27, 26, 26);
}

.speciesStatus {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    width: 200px;
    color: white;
}

.cards button {
    min-width: 150px;
    border: none;
    background: none;
    display: flex;
    justify-content: center;
}

.cards button:hover {
    cursor: pointer;
    filter: brightness(1.2);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 80px;
    color: white;
}

.loadMore {
    display: flex;
    justify-content: center;
    background-color: #1B1A1A;
}

.loadMore button {
    margin: 16px;
    width: 140px;
    height: 60px;
    border-radius: 16px;
    font-size: 18px;
    background-color: #E85350;
    border: 8px solid #704E51;
}